.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner__imagem {
    width: 70%;
    height: 70%;
}
.banner__titulo {
    font-weight: 700;
    font-size: 30px;
    padding: 0.4em;
}