.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner__imagem {
    width: 70%;
    height: 70%;
}
.banner__titulo {
    font-weight: 700;
    font-size: 35px;
    padding: 0.4em;
}
.card {
    background-color: var(--cor-secundaria);
    margin: 1em;
    padding: 1em;
}
.card__titulo, .card__texto {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 0.2em;
}
.card__titulo {
    font-size: 24px;
    font-weight: 500;
}
.objetivos {
    margin: 1em;
}
.objetivos__inicio {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
    align-items: baseline;
}
.inicio__titulo {
    font-weight: 700;
    font-size: 20px;
}
.inicio__barra {
    width: 50%;
    size: 5;
    padding: 0.2em;
    border: 0;
    background-color: var(--cor-terciaria);
}
.objetivos__fim {
    display: flex;
    justify-content: center;
    margin: 1em;

}
.fim__card {
    text-align: center;
    background-color: var(--cor-terciaria);
    margin: 0.2em;
    padding: 0.5em;
    border-radius: 0.6em;
}
.fim__card_imagem, .fim__card_texto {
    background-color: var(--cor-terciaria);
}
.fim__card_imagem {
    width: 60%;
    height: 60%;
}
.fim__card_texto {
    font-size: 11px;
}
.gostos {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.gostos__titulo {
    font-weight: 700;
    font-size: 20px;
    margin-left: 1em;
    padding: 0.5em 0;
}
.gostos__lista {
    list-style-type: disc;
    margin: 0 2em 1em 2em;
}
.card2 {
    background-color: var(--cor-terciaria);
    margin: 1em;
    padding: 1em;
}
.card2__titulo, .card2__texto {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 0.2em;
}
.card2__titulo {
    font-size: 24px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 60px;
    }
    .card__titulo, .inicio__titulo, .gostos__titulo, .card2__titulo{
        font-size: 34px;
    }
    .card__texto, .gostos__lista, .card2__texto{
        font-size: 20px;
    }
    .inicio__barra {
        padding: 0.3em;
    }
    .fim__card_imagem {
        width: 70%;
        height: 70%;
    }
    .fim__card_texto {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {}